<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="FormatoFecha" value="8" />
    <!-- Server mail 
    <add key="smtp_host" value="smtp.office365.com" />
    <add key="smtp_port" value="587" />
    <add key="smtp_user" value="aplicaciones@clinicadelamujer.com.co" />
    <add key="smtp_password" value="Climujer*.1" />
    <add key="email_dest1" value="analistasistemas@clinicadelamujer.com.co" />
    <add key="subject_individual" value="EGIDA - CONTROL DE ENTREGA DE UNIFORMES" />
    <add key="body_Line1" value="Control de entrega de uniformes" />
    <add key="Header_footer1" value="Atentamente" />
    <add key="Header_footer2" value="LENCERÍA" />
    <add key="Header_footer3" value="CLÍNICA DE LA MUJER S.A.S. - Bogotá" />
    <add key="Header_footer_generado" value="Generado por: EGIDA - Clínica de la Mujer S.A.S." /> -->
    <!-- IDENTIFICACIÓN APLICACIÓN  
	<add key="clientId" value="b4d777b3-26df-4613-842d-cedd9f10ed66" />
	<add key="tenant" value="d879fa46-3954-4e5c-a3cf-ab74f00c58da" />
	<add key="identobj" value="b4d777b3-26df-4613-842d-cedd9f10ed66" />
	<add key="authority" value="https://login.microsoftonline.com/" />
	<add key="redirectAuthority" value="https://10.58.42.16:3001" />
	<add key="scopes" value="User.Read" />
	<add key="audience" value="00000003-0000-0000-c000-000000000000" />
	<add key="issuer" value="https://sts.windows.net/" /> -->
	  
	    <add key="clientId" value="7eb94e25-aac4-4e9d-ac72-c26c27d8fb92" />
		<add key="tenant" value="d879fa46-3954-4e5c-a3cf-ab74f00c58da" />
		<add key="identobj" value="b4d777b3-26df-4613-842d-cedd9f10ed66" />
		<add key="authority" value="https://login.microsoftonline.com/" />
		<add key="redirectAuthority" value="https://login.microsoftonline.com/common/oauth2/nativeclient" />
		<add key="scopes" value="User.Read" />
		<add key="audience" value="00000003-0000-0000-c000-000000000000" />
		<add key="issuer" value="https://sts.windows.net/" />
	  
	<add key="secret" value="CVb8Q~rav6nsFeLm0el4nPsZw2L-S.BQC-KQtbut" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- IDENTIFICACIÓN SOFTWARE  -->
    <add key="appCode" value="EGIDA" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MainBnd" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.9.10.12:3035/wsEgida/wsEgida.svc" binding="basicHttpBinding" bindingConfiguration="MainBnd" contract="wsEgida.IwsEgida" name="MainBnd" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>